* {
  margin: 0;
  padding: 0;
  text-rendering: geometricPrecision !important;
}
html {
  background-color: black;
}

body{
  overflow: hidden;
}

body .dg.ac{
  z-index: 9999 !important;
  left: 50%;
  margin-left: -250px;
  top: 100px;
}

#gui{
  opacity: 0.8;
}

.dg.a {
    float: left !important;
}

#loader{
  background-image: url(../images/loader.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10001;
  background-color: white;
}

#layout{
    position: absolute;
    height: 1080px;
    width: 1215px;
    left: 352.5px;
    z-index: 9999;
    outline: 1px dashed #BBB;
    pointer-events: none;
}

#google_logo {
    position: absolute;
    width: 250px;
    height: 75px;
    background-image: url(../images/google.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


#app {
    opacity: 0;
    display: block;
    width: 1920px;
    height: 1080px;
    top: 0;
    left: 0;
    position: absolute;
    background-color: black;
    overflow-x: hidden;
}

body #mycanvas{
    opacity: 0;
    z-index: 900;
    position: absolute;
    background-color: white;
    top: 0;
    left: 50%;
    margin-left: -250px;
    width: 500px;
}

.ripple {
    display: inline-block;
    position: absolute;
    z-index: 999;
}

/*CENTER*/

#center_container {
    position: absolute;
    left: 50%;

    color: white;
    z-index: 800;
    text-align: center;
}
#center_container.fadeout{
    opacity: 0;
    animation: fadeout 1s ease-in-out;
}
#center_container.fade{
    opacity: 1 ;
    animation: fadein 1s ease-in-out;
}
#center_container .center-logo img{
    width: 118px;
}
#center_container .center-title{
    font-family: 'robotobold';
    color: #4285F4;
    font-size: 44px;
    margin: 13px auto;
    line-height: 41px;
    letter-spacing: 0.5px;
}
#center_container .center-description{
    /*font-family: 'kiwi';*/
    font-family: 'robotomedium';
    color: #FFF;
    font-size: 19px;
    line-height: 21px;
    letter-spacing: -0.4px;
}

/* CLOSE BUTTON */
#close_container {
  position: absolute;
  z-index: 500;
  font-family: 'robotoregular';
  font-size: 13px;
  background-color: white;
  color: #4385F4;
  line-height: 11px;
  border-style: solid;
  border-width: 4px;
  border-color: #4385F4;
  text-align: left;
  border-radius: 15px;
  letter-spacing: -0.5px;
  height: 56px;
  line-height: 13px;
}

#close_container.enabled{
    animation: cb_feature 1s ease-in-out;
    background-color: #4385F4;
    color:white;
}

#close_container.disabled{
    animation: cb_default 1s ease-in-out;
    background-color: white;
    color: #4385F4;
}

#close_container .close-description{
    margin: 6px 0px 0px 7px;
}

#close_container .close-description.adjusted{
    margin-top: 20px;
    font-size: 17px;
}


#close_container .close-arrow {
    width: 105px;
    position: absolute;
    top: -34px;
    left: -101px;
}

/* VIDEO CONTAINER */
.video-container{
    position: absolute;
    display: block;
    background-repeat:no-repeat;
    background-position: center center;
}

.video-container p {
    color: white;
}

.video{
    display: block;
    width: 100%;
}

.video.fade{
    animation: fadein 1s ease-in-out;
}
.video.fadeout{
    animation: fadeout 1s ease-in-out22;
}

.visible {
  visibility: visible;
  opacity: 1 !important;
  transition: opacity 0.5s ease-in-out;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s ease-in-out;
}

/* BUTTONS */
.button-wrapper{
    position: absolute;
    background-color: white;
    width: 300px;
    text-align: center;
    border-radius: 75px;
        backface-visibility: initial !important;
}
.button-wrapper.label{
    border-radius: 20px;
    font-family: 'robotoregular';
    font-weight: 700;
    width: 340px;
    font-size: 32px;
    display: inline-block;
    padding: 20px 30px;
}

.button-container {
    cursor: pointer;
    height: 80px;
    width: 215px;
    background-color: #939393;
    border-radius: 40px;
    margin: 35px auto;
    text-align: left;
    opacity: 0.3;
}
.label .button-container {
    background-color: transparent;
    color: #4885ed;
    width: 100%;
    margin: 0;
    height: auto;
    text-align: center;
}

.ripple-container{
    width: 475px;
    height: 475px;
    position: absolute;
    top: -160px;
    left: -88px;
    background-image: url(../images/ripple.png);
    background-size: cover;
    transform: scale(0);
}
.label .ripple-container {
    top: -195px;
    left: -32px;
    transform: scale(0);
}

.video-container.disabled,
.text-button-container.disabled{
    opacity: 0.3;
    transition: opacity 500ms ease-in-out;
}

/*.video-container.enabled,*/
.text-button-container.enabled{
    opacity: 1.0;
    transition: opacity 500ms ease-in-out;
}

.button-wrapper.fadedout {
    opacity: 0.3;
    transition: opacity 500ms ease-in-out;
}
.button-wrapper.fadedin {
    opacity: 1.0;
    transition: opacity 500ms ease-in-out;
}

.button-wrapper.enabled {
    box-shadow: 0 0 125px rgba(100, 100, 100, 1);
    transition:  box-shadow 250ms ease-in-out;
}

.circle-object {
    width: 110px;
    height: 110px;
    background-color: white;
    border-radius: 55px;
    opacity: 1;
    position: relative;
    top: -15px;
    box-shadow: 0 0 20px #333;
    display: inline-block;
}

.button-container.switched-on{
    background-color: #9da4da;
    transition: background-color 200ms ease-in-out;
}
/*
.button-container.disabled{
    opacity: 0.3;
    transition: opacity 1000ms ease-in-out;
}
*/
.button-container.switched-on .circle-object{
    background-color: #3d4eb8;
    transition: background-color 250ms ease-in-out;
}
.button-container.switched-off{
    background-color: #939393;
    transition: background-color 250ms ease-in-out;
}
/*
.button-container.enabled{
    opacity: 1.0;
    transition: opacity 1000ms ease-in-out;
}
*/
.button-container.switched-off .circle-object{
    background-color: white;
    transition: background-color 250ms ease-in-out;
}
/* TEXT BUTTON CONTAINER*/
.text-button-container{
    display: inline-block;
    position: absolute;
    text-align: center;

  /*  -webkit-transform: translateX(-50%);*/

    border-style: dotted !important;
    border-width: 0 !important;
    border-color: #4885ed !important;
}

.feature {
    /*font-family: 'conran';*/
    font-family: 'robotobold';
    color: #4885ED;
    font-size: 28px;
    letter-spacing: 0.5px;
    white-space: nowrap;
    margin-bottom: 66px;
}

#side-copy-0{
  font-family: robotoregular;
  text-align: center;
  position: absolute;
  float: left;
  left: 72px;
  top: -41px;
  font-size: 19px;
  line-height: 19px;
  color: #4285F4;
  opacity: 0;
}

.video-bar{
    height: 3px;
    background-color: white;
    width: 40%;
    margin: 0 auto;
    opacity: 0;
    position: relative;
    top: -65px;
}
.video-bar.enabled{
    transition: opacity 500ms ease-in-out;
    opacity: 0.5;
}

.video-bar.disabled{
    transition: opacity 500ms ease-in-out;
    opacity: 0;
}

.video_progress {
  background-color:  #4885ed;
  width: 0%;
  height: 3px;
}

.description {
    font-family: 'robotoregular';
    color: #FFF;
    font-size: 19px;
    line-height: 21px;
    letter-spacing: -0.5px;
}

/* FADE IN*/
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

/* FADE IN*/
@keyframes fadeout {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}

/* CLOSE BOTTON feature*/
@keyframes cb_feature {
    from {
        background-color: white;
        color:#4385F4;
    }
    to {
        background-color: #4385F4;
        color:white;
    }
}

@keyframes cb_default {
    from {
        background-color: #4385F4;
        color:white;
    }
    to {

        background-color: white;
        color:#4385F4;
    }
}
